<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <form action="/" method="post" enctype="multipart/form-data">
            <label for="file">이미지를 선택하세요:</label>
            <input type="file" name="file" id="file" accept="image/*">
            <input type="submit" value="업로드">
        </form>
    </div>
    <tbody>
        <tr>
            <td>test1</td>
            <td>test2</td>
        </tr>
    </tbody>
</div>

</body>
</html>